.contanier{
    margin: 0 auto;
    font-family: candara;
    font-size: 62.5%;
    color: #054752;
}

/* header */
.navBar{
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 70px;
    position: fixed;
    background-color: white;
    z-index: 999;
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, .1);
    align-items: center;
}
.userControl{
    display: flex;
    align-items: center;
    gap: 30px;

}
.userControl a{
    text-decoration: none;
    font-size: 1.2rem;
    color: #2DBEFF;
    display: flex;
    align-items: center;
    gap: 5px;
}
.userIconCon{
    position: relative;
}
.userIconCon a{
    color: white;
}
.loginBtn{
    background-color: #2DBEFF;
    padding: 5px 30px;
    border: 2px solid transparent;
    border-radius: 5px;
}
.loginBtn:hover{
    background-color: #008EC2;
}
.dropdownContent{
    display: none;
    position: absolute;
    margin-top: 1px;
    width: 170px;
    padding: 0 10px;
    background-color: white;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .1);
    font-size: 1.2rem;
}
.dropdownContent a{
    margin-left: 5px;
    color: #2DBEFF;
    text-decoration: underline;
}
.userIconCon:hover .dropdownContent{
    display: block;
    border-radius: 5px;
}
/* hero section */
.heroImage{
    background: url('/images/heroBanner1.jpg');
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.heroContent{
    text-align: center;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    width: 100%;
}
.heroSearch{
    width: 100%;
}
.heroSearch h1{
    font-size: 4.5rem;
    color: white;
    font-weight: 900;
    margin-bottom: 70px;
}
.heroSearch input{
    position: relative;
    display: inline-block;
    margin: 0;
    font-size: 1.2rem;
    border-radius: 5px;
    width: 10%;
    height: 50px;
    position: relative;
    border: none;
    outline: none;
    background-color: white;
    padding: 0 10px;
}
.heroSearch button{
    position: relative;
    display: inline-block;
    font-size: 1.2rem;
    border-radius: 5px;
    height: 50px;
    position: relative;
    border: none;
    outline: none;
    padding: 0 10px;
    background-color: #2DBEFF;
    color: white;
}
.heroSearch button:hover{
    background-color: #008EC2;
}
/* car box */
.cardBox{
    display: flex;
    width: 100%;
    margin-top: 50px;
    justify-content: center;
}
.card{
    width: 20%;
    font-size: 1.2rem;
    padding: 0 30px;   
}
.card h6{
    font-size: 1.2rem;
    margin: 10px 0;
}
/* safetyBanner */
.safetyBanner{
    background-color: #2DBEFF;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.safetyBannerContent{
    width: 30%;
    font-size: 1.2rem;
    color: white;
    font-weight: 600;
}
.safetyBannerContent h6{
    font-size: 1.5rem;
    margin: 10px 0;
}
.safetyBannerContent button{
    outline: none;
    border: none;
    border-radius: 30px;
    background-color: white;
    color: #2DBEFF;
    font-size: 1.2rem;
    padding: 15px 30px;
}
.safetyBannerContent button:hover{
    background-color: #EDEDED;
}
/* offerRideBanner */

.offerRideBanner{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.offerRideBannerContent{
    width: 30%;
    font-size: 1.2rem;
    font-weight: 600;
}
.offerRideBannerContent h6{
    font-size: 1.5rem;
    margin: 10px 0;
}
.offerRideBannerContent button{
    outline: none;
    border: none;
    border-radius: 30px;
    background-color: #2DBEFF;
    color: white;
    font-size: 1.2rem;
    padding: 15px 30px;
}
.offerRideBannerContent button:hover{
    background-color: #008EC2;
}
/* carPoolHelpCenter */
.carPoolHelp{
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    gap: 100px;
}
.carPoolHelp div{
    width: 30%;
    text-align: left;
}
.carPoolHelp div h6{
    font-size: 1.5rem;
    margin: 10px 0;
}
.carPoolHelpButton{
    text-align: center;
    margin-top: 30px;
}
.carPoolHelpButton button{
    outline: none;
    border: none;
    border-radius: 30px;
    background-color: #2DBEFF;
    color: white;
    font-size: 1.2rem;
    padding: 15px 30px;
}
.carPoolHelpButton button:hover{
    background-color: #008EC2;
}
.footerTab{
    background-color: #EDEDED;
}
